.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444;
    color: #c8c8c8;
    height: 100%;
}

@media screen and (orientation: portrait){
    .details__title {
        font-size: calc(var(--title-size) - 0.8rem);
    }

    .phone-number, .email {
        font-size: calc(var(--text-size) - 0.5rem);
    }
}

@media screen and (orientation: landscape){
    .details__title {
        font-size: var(--title-size);
    }

    .phone-number, .email {
        font-size: var(--text-size);
    }
}

.details-info {
    display: flex;
    flex-direction: column;
}

.phone-info, .email-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}


.links-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 30px;
}

.links-info a {
    text-decoration: none;
    color: #c8c8c8;
}