
.projects-container {
    height: 100%;
}
 
@media screen and (orientation: portrait){
    .project-bg{
        min-height: 250px;
        position: relative;
        opacity: 0.75;
        background-attachment: fixed;
        background-position: 50% 12vh;
        background-repeat: repeat-y;
        background-size: contain;
    }

    .project-title {
        padding: 10px;
        background-color: #444444;
        border-radius: 10px;
        text-decoration: none;
        color: #c8c8c8;
        font-size: calc(var(--title-size) - 0.5rem);
    }
    
    .desc-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: calc(var(--text-size) - 0.5rem);
        border: 1px solid #000;
        min-height: 200px;
        background-color: #444;
        padding: 25px;
    }
}

@media screen and (orientation: landscape){
    .project-bg {
        min-height: 500px;
        position: relative;
        opacity: 0.75;
        background-attachment: fixed;
        background-position: 50% 12vh;
        background-repeat: no-repeat;
        background-size: contain;
    } 

    .project-title {
        padding: 10px;
        background-color: #444444;
        border-radius: 10px;
        text-decoration: none;
        color: #c8c8c8;
        font-size: var(--title-size);
    }
    
    .desc-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: var(--text-size);
        border: 1px solid #000;
        min-height: 200px;
        background-color: #444;
        padding: 25px;
    }
}

.title {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    line-height: 400%;
}

.desc-info a {
    text-decoration: none;
    color: #c8c8c8;
}

.tech-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    padding: 5px;
    font-family: "Fira Code";
    cursor: default;
    color: #c8c8c8;
    margin-top: 50px;
}