#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  background-image: linear-gradient(to bottom, #c8c8c8 0%, #000 20%, #000 80%, #c8c8c8 100%);
  color: white;
  padding: 10px;
  border: 1px solid #000;
}

.nav-link.reading {
  left: 47%;
  font-weight: 700;
  font-size: 1.5rem;
  top: 1.5rem;
}

.nav-link.not-reading {
  left: 90%;
  font-weight: 400;
  font-size: 1rem;
  top: 2rem;
}

.name-logo {
  font-size: 2rem;
}

.text1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  cursor: default;
}

.text2 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #c8c8c8;
}

.text-footer, .subtext-footer {
  cursor: default;
}

.header__nav {
  display: flex;
  gap: 15px;
  justify-content: end;
  width: 50%;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition-duration: 0.5s;
  position: absolute;
}

#projects {
  left: 15%;
}

.nav-link:hover {
  font-weight: 600;
}

.main {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #c8c8c8 0%, #000 20%, #000 100%);
  border: 1px solid #000;
  height: 2rem;
  padding: 10px;
  color: white;
  font-size: 0.8rem;
}

.top-link {
  margin-left: 5px;
}